* {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(6, 0, 56);
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 20px;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header ul {
    position: fixed;
    margin-top: 0;
    top: 0;
    right: 0;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    background-color: black;
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    text-decoration: none;
    background-color: black;
}

.portrait {
    display: flex;
    justify-content: center;
}

.project-1 {
    display: flex;
    place-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #ffffff; 
    border-style: solid;
    margin: 25px 25px 25px 25px;
}

.project-1 img
{
    max-width: 300px;
}

.project-1 span {
    margin-top: 25px;
    margin-bottom: 25px;
}

.spotlight-project img:hover {
    max-width: 400px;
}

.projects {
    display: flex;
    flex-direction: row;
    margin: 25px 25px 25px 25px;
}
.projects div {
    margin: auto;
    padding: 15px 15px 15px 15px;
    border: #ffffff; 
    border-style: solid;
}



