:root {
    --box-background: rgb(0, 0, 68);
    --text-color: white;

}

* {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(88, 88, 88);
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h1 {
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
}

h2, h3, p {
    background-color: var(--box-background);
}

header {
    padding: 20px;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header ul {
    position: fixed;
    margin-top: 0;
    top: 0;
    right: 0;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    background-color: black;
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin-left: 10px;
    background-color: black;
    scroll-behavior: smooth;
}

header a {
    text-decoration: none;
    background-color: black;
}

header a:hover {
    color: yellow;
}

.portrait {
    display: flex;
    justify-content: center;
}

.portrait img {
    max-width: 400px;
}

.project-1, .about {
    display: flex;
    place-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #ffffff; 
    border-style: solid;
    margin: 25px 25px 25px 25px;
    padding: 15px 25px 15px 25px;
    background-color: var(--box-background);
}

.project-1 h2 {
    background-color: var(--box-background);
}

.project-1 div {
    background-color: var(--box-background);
    justify-content: center;
}

.project-1 img {
    max-width: 300px;
    background-color: var(--box-background);
}

.project-1 span {
    background-color: var(--box-background);
    margin-top: 25px;
    margin-bottom: 25px;
}

.spotlight-project img:hover {
    max-width: 400px;
}

.projects {
    display: flex;
    flex-direction: row;
    margin: 25px 0 25px 0;
}

.projects h2, .projects a, .projects img {
    background-color: var(--box-background);
}

.projects div {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px 15px 15px 15px;
    border: #ffffff; 
    border-style: solid;
    background-color: var(--box-background);
}

.projects img {
    max-width: 275px;
}

.projects img:hover {
    max-width: 400px;
}

footer {
    margin: 25px 25px 25px 25px;
    padding: 15px 15px 15px 15px;
    border: #ffffff; 
    border-style: solid;
    background-color: var(--box-background);
}

footer h3, footer p, footer a {
    background-color: var(--box-background);
}

@media screen and (max-width:768px) {

    header h1 {
        font-size: 120%;
    }

    header ul {
        font-size: 70%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    img {
        max-width: 90px;
    }

    .spotlight-project {
        display: flex;
        justify-content: center;
    }

    .projects {
        padding: 10px 0 10px 0;
        display: flex;
        flex-direction: column;
    }

    .projects .project {
        margin: 10px 25px 10px 25px;
    }

}